<a href="https://colab.research.google.com/github/Jasmithanalla/ICP1/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Part (a): String manipulation
# Input the string "Python" as a list of characters
input_str = list(input("Enter the string (e.g., python): "))

# Delete at least 2 characters (let's remove characters at index 1 and 4 for example)
# Make sure input is at least long enough
if len(input_str) >= 5:
    del input_str[4]  # Delete 5th character
    del input_str[1]  # Delete 2nd character

# Reverse the list
input_str.reverse()

# Print the resulting string
result_str = ''.join(input_str)
print("Modified and reversed string:", result_str)


# Part (b): Arithmetic operations
# Take two numbers from the user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform arithmetic operations
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)

# Avoid division by zero
if num2 != 0:
    print("Division:", num1 / num2)
else:
    print("Division: Cannot divide by zero")

Enter the string (e.g., python): name
Modified and reversed string: eman
Enter first number: 10
Enter second number: 5
Addition: 15.0
Subtraction: 5.0
Multiplication: 50.0
Division: 2.0

In [3]:
# Accept a sentence from the user
sentence = input("Enter a sentence: ")

# Replace all occurrences of 'python' with 'pythons'
updated_sentence = sentence.replace('python', 'pythons')

# Print the updated sentence
print("Updated sentence:", updated_sentence)

Enter a sentence: i like python
Updated sentence: i like pythons

In [4]:
# Accept class score from the user
score = float(input("Enter your class score (0–100): "))

# Check and print the letter grade using if-elif-else statements
if score >= 90 and score <= 100:
    print("Your grade is: A")
elif score >= 80:
    print("Your grade is: B")
elif score >= 70:
    print("Your grade is: C")
elif score >= 60:
    print("Your grade is: D")
elif score >= 0:
    print("Your grade is: F")
else:
    print("Invalid score. Please enter a value between 0 and 100.")

Enter your class score (0–100): 77
Your grade is: C

In [5]:
# Input list
x = [23, 'Python', 23.98]

# Print the original list
print(x)

# Create a list of types for each element in x
types_list = [type(item) for item in x]

# Print the list of types
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [6]:
# Given data
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set IT_companies
print("Length of IT_companies:", len(IT_companies))

# 2. Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# 3. Insert multiple IT companies at once
IT_companies.update(['LinkedIn', 'Tesla', 'Netflix'])
print("After adding multiple companies:", IT_companies)

# 4. Remove one of the companies from the set
IT_companies.remove('IBM')  # will raise error if 'IBM' not in set
print("After removing IBM:", IT_companies)

# 5. Difference between remove and discard
print("\nDifference between remove and discard:")
print("- remove() raises an error if the element is not found.")
print("- discard() does not raise an error if the element is not found.")

# Example:
print("\nTrying discard with non-existing element:")
IT_companies.discard('NonExistentCompany')  # No error

# Uncommenting this will raise an error:
# IT_companies.remove('NonExistentCompany')  # Raises KeyError

# 6. Join A and B (union)
print("\nJoin A and B:", A.union(B))

# 7. Find A intersection B
print("Intersection of A and B:", A.intersection(B))

# 8. Is A subset of B
print("Is A subset of B?", A.issubset(B))

# 9. Are A and B disjoint sets
print("Are A and B disjoint?", A.isdisjoint(B))

# 10. Join A with B and B with A (same as union)
print("A union B:", A.union(B))
print("B union A:", B.union(A))

# 11. Symmetric difference between A and B
print("Symmetric difference:", A.symmetric_difference(B))

# 12. Delete the sets completely
del A
del B
# print(A)  # This would raise an error since A is deleted

# 13. Convert ages to a set and compare length
age_set = set(age)
print("\nOriginal age list:", age)
print("Converted age set:", age_set)
print("Length of age list:", len(age))
print("Length of age set (unique ages):", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Facebook', 'Microsoft', 'Twitter', 'Apple', 'Amazon', 'Google', 'Oracle', 'IBM'}
After adding multiple companies: {'Facebook', 'Apple', 'Google', 'Oracle', 'Microsoft', 'Amazon', 'IBM', 'Twitter', 'Netflix', 'LinkedIn', 'Tesla'}
After removing IBM: {'Facebook', 'Apple', 'Google', 'Oracle', 'Microsoft', 'Amazon', 'Twitter', 'Netflix', 'LinkedIn', 'Tesla'}

Difference between remove and discard:
- remove() raises an error if the element is not found.
- discard() does not raise an error if the element is not found.

Trying discard with non-existing element:

Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}

Original age list: [22, 19, 24, 25, 26, 24, 25, 24]
Converted age set: {19, 22, 24, 25, 26}
Length of age list: 8
Length of age set (unique ages): 5